src/main/resources/decision-evaluation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://camunda.org/consulting/decision-evaluation"
            xmlns:tns="http://camunda.org/consulting/decision-evaluation"
            elementFormDefault="qualified">

    <xsd:element name="evaluateDecisionRequest" type="tns:EvaluateDecisionRequest"/>
    <xsd:element name="evaluateDecisionResponse" type="tns:EvaluateDecisionResponse"/>

    <xsd:complexType name="EvaluateDecisionRequest">
        <xsd:sequence>
            <xsd:element name="decisionDefinitionId" type="xsd:string" minOccurs="0"/>
            <xsd:element name="decisionDefinitionKey" type="xsd:string" minOccurs="0"/>
            <xsd:element name="variables" type="tns:SoapDecisionVariables" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SoapDecisionVariables">
        <xsd:sequence>
            <xsd:element name="entry" type="tns:SoapVariableEntry" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SoapVariableEntry">
        <xsd:sequence>
            <xsd:element name="key" type="xsd:string"/>
            <xsd:element name="value" type="xsd:anyType"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="EvaluateDecisionResponse">
        <xsd:sequence>
            <xsd:element name="success" type="xsd:boolean"/>
            <xsd:element name="result" type="tns:SoapResult" minOccurs="0"/>
            <xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="SoapResult">
        <xsd:sequence>
            <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
